.card{
    width: 360px;
    background-color: white;
    padding: 10px;
    margin-left: 430px;
    border-radius: 14px;
    box-shadow: 0 22px 44px rgba(0, 0, 0, 6);
    margin-top: 70px;
}
button{
background-color: rgba(0, 0, 0, 0.484);
border-radius: 14px;
padding: 10px;

}