 body {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: url('https://i.pinimg.com/originals/29/cd/bd/29cdbdcc53da3e3c988ca9544fbfa03e.gif');
  background-repeat: no-repeat;
  background-size: cover;

}


