body {
    background: rgb(152, 150, 150);

    min-height: 100vh;

  }
  
  .container2 {
    width: 360px;
    background-color: white;
    padding: 10px;
    margin-left: 430px;
    border-radius: 14px;
    box-shadow: 0 22px 44px rgba(0, 0, 0, 6);
    margin-top: 90px;
    border-radius: 12px;
  }
  
  .register {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .form1 {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    margin-left: 20px;
    width: 270px;
  }
  
  span {
    font-size: 14px;
    color: rgb(181, 73, 67);
    margin-bottom: 15px;
  }
  
  .success-message { 
    background-color: #511ea3;
    padding: 15px;
    color: white;
  }
  
  input {
    background: #ededed;
    color: black;
  }

  
  
  .form-fields {
    background: #8d7e7eb5;
    color:black;
    margin-left: 28px;
  }
  